[submodule "cpp_chamber/doctesting/doctest"]
	path = cpp_chamber/doctesting/doctest
	url = https://github.com/doctest/doctest.git
	branch = master
[submodule "rust_range/submodules/book"]
	path = rust_range/submodules/book
	url = https://github.com/rust-lang/book.git
	branch = main
[submodule "rust_range/submodules/rustlings"]
	path = rust_range/submodules/rustlings
	url = https://github.com/rust-lang/rustlings.git
	branch = main
